/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
}

html, body, #root {
  min-height: 100%;
  height: auto; /* Cambia esto si estaba en 100% */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Permite el scroll vertical pero oculta el scroll horizontal */
}


